<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Ip address:</b>
  <%= @user.ip_address %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@user.latitude}%2C#{@user.longitude}" %>

<h3>Nearby markets</h3>
<ul>
<% for market in @market.nearbys(2) %>
  <li><%= link_to market.address, market %> (<%= market.distance.round(2) %> miles)</li>
<% end %>
</ul>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
