<div class="title"><h1>Listing markets</h1></div>
<!-- search field -->
<%= form_tag markets_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @markets.each do |market| %>
  <tr>
    <td><%= market.name %></td>
    <td><%= market.address %></td>
    <td><%= market.latitude %></td>
    <td><%= market.longitude %></td>
    <td><%= link_to 'Show', market %></td>
    <td><%= link_to 'Edit', edit_market_path(market) %></td>
    <td><%= link_to 'Destroy', market, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Market', new_market_path %>
