<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @market.name %>
</p>

<p>
  <b>Address:</b>
  <%= @market.address %>
</p>

<p>
  <b>Latitude:</b>
  <%= @market.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @market.longitude %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@market.latitude}%2C#{@market.longitude}" %>

<h3>Nearby markets</h3>
<ul>
<% for market in @market.nearbys(2) %>
  <li><%= link_to market.address, market %> (<%= market.distance.round(2) %> miles)</li>
<% end %>
</ul>


<%= link_to 'Edit', edit_market_path(@market) %> |
<%= link_to 'Back', markets_path %>
